/* Definice vlastních proměnných */
:root {
    --text-light: #000000;
}

/* Nastavení písma pro celou stránku */
html {
    font-family: 'Open Sans', sans-serif;
}

/* Styl pro hlavičku stránky */
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    /* Pozadí hlavičky z horní části obrázku "egypt.jpg" */
    background-image: url('egypt.jpg');
    background-size: cover; /* Pokrytí celé plochy */
    background-position: center; /* Umístění na střed */
    color: var(--text-light); /* Barva textu */
}

/* Styly pro seznam kategorií */
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Šířka sloupce mezi 300px a 1fr */
    padding: 1em;
    gap: 1em;
}

/* Styly pro jednotlivé položky v seznamu kategorií */
.categories__item {
    position: relative;
    color: inherit;
}

/* Efekt při najetí myší na položku */
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
}

/* Styly pro obrázky v položkách */
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}

/* Styly pro popis v položkách */
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}

/* Globální styly pro obrázky */
.img-responsive {
    width: 100%;
    display: block;
}

/* Nulování marginu pro figure a nadpisy */
figure, h2 {
    margin: 0;
}

/* Styly pro nadpisy */
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}

/* Styly pro nadpis h1 */
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}
