:root {
    --text-light: #ffffff;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    background-image: url('../images/egypt.jpg');
    background-position: top;
    background-size: cover; 
    color: var(--text-light); 
}
.page-header h1{
    color: white;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    padding: 1em;
    gap: 1em;
}


.categories__item {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 0.5s ease; 
}

.categories__item:hover {
    transform: scale(1.1); }

.categories__item-image {
    filter: blur(4px) brightness(0.9) saturate(1) contrast(1); 
    transition: filter 0.3s; 
    transform: scale(1); 
}

.categories__item:hover .categories__item-image {
    filter: brightness(0.7) saturate(0.5) contrast(1.2) blur(4px); 
    filter: blur(0);

}

.categories__item-description {
    padding: 1em;
    color: var(--text-light);
    position: absolute;
    left: 0;
    bottom: 0; 
    opacity: 1;
    transition: opacity 0.3s; 
}

.categories__item:hover .categories__item-description {
    transition: all 0.5s ease; 
    transform: translate(-50%, 50%); 
    opacity: 1; 
    left: 50%;
    bottom: 50%; 
}
    
    
.img-responsive {
    width: 100%;
    display: block;
}

figure, h2 {
    margin: 0;
}
    
.heading {
     margin: 0.25em 0;
    font-weight: bold;
}

.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}.categories__item-image {
    filter: blur(10px) brightness(0.9) saturate(1) contrast(1); 
    transition: filter 0.3s; 
}

.unblur {
    filter: brightness(1) saturate(1) contrast(1); /
}
